# Data Handling & Analysis
pandas
numpy

# Machine Learning
scikit-learn

# Data Visualization (For EDA before PowerBI)
matplotlib
seaborn

# Notebooks for testing & building
jupyter

# Web Application Backend (For webapp.py)
flask
flask-cors

# Database for storing user data & model outputs
pymongo

# Task scheduling for regular model retraining
schedule
